:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-bg: #ffffff; /* Основной фон страницы */
  --color-bg-cards: #ffffff; /* Фон карточек */
  --color-text: #000000; /* Основной текст */
  --color-text-primary: #3a3535; /* Заголовки */
  --color-text-secondary: rgba(0, 0, 0, 0.75); /* Подзаголовки */
  --color-text-normal: #404040; /* Параграфы */
  --color-text-dark: #282828; /* Текст в карточках */
  --color-text-muted: rgba(0, 0, 0, 0.4); /* Подсказки */
  --color-gray: gray; /* Серый текст/иконки */
  --color-border: rgba(0, 0, 0, 0.36); /* Основные обводки */
  --color-border-light: #959595; /* Обводки карточек */
  --color-accent: #0055ff; /* Синий акцент (ссылки, кнопки) */
  --color-button-accent: rgb(0, 255, 237); /* Яркая кнопка */
  --color-button-accent-light: rgba(0, 255, 237, 0.32); /* Дефолтная кнопка */
  --color-button-accent-inactive: rgba(66, 175, 168, 0.32); /* Полупрозрачная кнопка */
  --color-bg-input: rgba(255, 255, 255, 0.32); /* Фон инпута */
  --color-footer-text: #444; /* Текст футера */
} 

.dark-theme {
  --color-bg: rgba(38, 38, 38, 1);
  --color-bg-cards: rgba(39, 44, 63, 1); /* Фон карточек */
  --color-text: #ffffff;
  --color-text-primary: #e0e0e0;
  --color-text-secondary: rgba(255, 255, 255, 0.75);
  --color-text-normal: rgba(149, 149, 149, 1);
  --color-text-dark: #d0d0d0; /* Текст в карточках */
  --color-text-muted: rgba(255, 255, 255, 0.4); /* Подсказки */
  --color-gray: #999; /* Серый текст/иконки */
  --color-border: rgba(255, 255, 255, 0.2); /* Основные обводки */
  --color-border-light: rgba(38, 38, 38, 1); /* Обводки карточек */
  --color-accent: #ffffff; /* Синий акцент (ссылки, кнопки) */
  --color-button-accent: rgba(89, 98, 115, 1); /* Яркая кнопка */
  --color-button-accent-light: rgba(89, 98, 115, 1); /* Дефолтная кнопка */
  --color-button-accent-inactive: rgba(67, 72, 93, 1); /* Полупрозрачная кнопка */
  --color-bg-input: rgba(67, 72, 93, 1); /* Фон инпута */
  --color-footer-text: #aaa; /* Текст футера */
}

body {
  background-color: var(--color-bg);
}

button{
  background-color: var(--color-button-accent-light);
  border-radius: 8px;
  box-shadow: none;
  border: none;
  height: 38px;
  width: 241px;
  color: var(--color-accent);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  padding: 0;
  cursor: pointer;
}

button:active {
  background-color: rgba(0, 255, 237, 0.7); 
  transform: scale(0.99); 
}
